.container {
  display: flex;
  width: 35%;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.btn-default {
  border-color: lightgray;
  border-radius: 5px;
  width: 100%;
}